@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Manage Your Lorries</p>
        <p>Deployed from Azure DevOps Continuous Integration.</p>
    </div>

